<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>
<body class="flex p-10" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">

    <nav class="flex flex-col items-center">
        {% block main_nav %}
        {% endblock %}
    </nav>

    <main class="grow flex items-stretch border rounded-3xl">

        <div class="grow max-w-xs">

        {% block chats_nav %}
        {% endblock %}
        </div>

        <div class="flex grow rounded-3xl m-2 bg-slate-200">
        {% block current_chat %}
        {% endblock %}
        </div>


    </main>

</body>
</html>
