{% extends 'layouts/layout.html.jinja2' %}
{% set title = "Home Page" %}

{% block children %}
    <main class="p-4 w-1/4 divide-y flex flex-col max-h-screen overflow-y-hidden">
        <p class="text-xl text-gray-600 p-2">Chats</p>
        <div class="flex flex-col my-2">
            <div id="personal-data" class="flex flex-col items-center">
                <div class="mt-6 w-24 h-24 flex justify-center items-center rounded-full bg-slate-200 text-xl text-white uppercase">
                    NS
                </div>
                <div class="text-xl text-gray-600 p-2">
                    Name Surname
                </div>
                <input class="w-full h-12 px-3 mt-6 text-base text-gray-600 placeholder-gray-300 rounded-lg bg-slate-100 focus:outline-none"
                       type="text" placeholder="Search for a message..."/>
            </div>
            <div id="chats-log-container" class="flex flex-col">
                <div class="flex justify-between items-center mt-10">
                    <span class="py-4 px-2 font-semibold text-gray-400 text-sm">Last chats</span>
                    <button class="inline-flex items-center justify-center w-8 h-8 mr-2 text-emerald-300 transition-colors duration-150 rounded-full focus:shadow-outline bg-emerald-50">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                        </svg>
                    </button>
                </div>
                <div id="chats-log" class="border max-h-80 overflow-y-scroll">
                    {% for item in [1,2,3,4,5,6,7,8,9] %}
                        <div class="pl-4 hover:bg-slate-50 flex">
                            <div class="mt-6 w-10 h-10 flex justify-center items-center rounded-full bg-slate-200 text-xl text-white uppercase">
                                PH
                            </div>
                            <div class="flex flex-col p-4">
                                <span class="font-semibold text-slate-600">Name</span>
                                <span class="text-slate-400">Text</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <main class="p-4 m-2 rounded-3xl w-3/4 max-w-screen divide-y flex flex-col divide-slate-300 bg-slate-200">
        <section class="text-xl text-slate-600 font-semibold p-2">
            Group chat
        </section>
        <section id="messages" class="flex flex-col p-12 overflow-y-scroll">
            {% for item in [1,2,3,4,5,6,7,8,9] %}
                {% if item in [2,5,6,9] %}
                    <p class="text-xs mr-5 mt-2 self-end">
                        You, 11:25 pm
                    </p>
                    <div class="p-4 m-4 rounded-lg text-slate-50 bg-slate-500 shadow-lg max-w-2xl self-end">
                        Placeholder Lorem ipsum dolor sit amet. Aut iusto ipsum id veritatis rerum 33 nihil atque est
                        repellendus doloribus. Aut recusandae dolores ut vitae nesciunt qui beatae eveniet At aliquam
                        accusantium et dolor porro quo itaque dignissimos.
                    </div>
                {% else %}
                    <p class="text-xs ml-5 mt-2">
                        Name, 11:25 pm
                    </p>
                    <div class="p-4 m-4 rounded-lg text-slate-600 bg-white shadow-lg max-w-2xl">
                        Placeholder Lorem ipsum dolor sit amet. Aut iusto ipsum id veritatis rerum 33 nihil atque est
                        repellendus doloribus. Aut recusandae dolores ut vitae nesciunt qui beatae eveniet At aliquam
                        accusantium et dolor porro quo itaque dignissimos.
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <section
                class="px-4 py-2 mt-6 h-40 flex items-center text-base text-slate-600 placeholder-gray-300 rounded-lg bg-white">
                <input id="message_send" class="basis-11/12 focus:outline-none" type="text" placeholder="Type a message..."/>

                <button class="inline-flex items-center justify-center w-10 h-10 mr-2 text-gray-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:text-emerald-500 hover:bg-emerald-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
                <button class="inline-flex items-center justify-center w-10 h-10 mr-2 text-gray-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:text-emerald-500 hover:bg-emerald-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"/>
                    </svg>
                </button>
                <button class="inline-flex items-center justify-center w-10 h-10 mr-2 text-emerald-800 bg-emerald-400 transition-colors duration-150 rounded-full focus:shadow-outline hover:text-emerald-600 hover:bg-emerald-300"
                onclick="sendMessage()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
            </form>
        </section>
    </main>
{% endblock %}
