{% extends 'layouts/layout.html.jinja2' %}
{% set title = "Home Page" %}

{% block children %}
    <main class="p-4 w-1/4 divide-y flex flex-col max-h-screen overflow-y-hidden">
        <p class="text-xl text-gray-600 p-2">Chats</p>
        <div class="flex flex-col my-2">
            <div id="personal-data" class="flex flex-col items-center">
                <div class="mt-6 w-24 h-24 flex justify-center items-center rounded-full bg-slate-200 text-xl text-white uppercase">
                    {{ names[session['user_id']][0].upper() }}
                </div>
                <div class="text-xl text-gray-600 p-2">
                    {{ names[session['user_id']] }}
                </div>
                <input class="w-full h-12 px-3 mt-6 text-base text-gray-600 placeholder-gray-300 rounded-lg bg-slate-100 focus:outline-none"
                       type="text" placeholder="Search for a message..."/>
            </div>
            <div id="chats-log-container" class="flex flex-col">
                <div class="flex justify-between items-center mt-10">
                    <span class="py-4 px-2 font-semibold text-gray-400 text-sm">Last chats</span>
                    <button class="inline-flex items-center justify-center w-8 h-8 mr-2 text-emerald-300 transition-colors duration-150 rounded-full focus:shadow-outline bg-emerald-50">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                        </svg>
                    </button>
                </div>
                <div id="chats-log" class="max-h-80 overflow-y-scroll divide-y divide-stale-200">
                    {% for conv in conversations %}
                        <a href="/conversation/{{ conv.id }}">
                            <div class="pl-4 hover:bg-slate-50 flex cursor-pointer">
                                <div class="mt-6 w-10 h-10 flex justify-center items-center rounded-full bg-slate-200 text-xl text-white uppercase">
                                    {{ conv.name[0].upper() }}
                                </div>
                                <div class="flex flex-col p-4">
                                    <span class="font-semibold text-slate-600">{{ conv.name }}</span>
                                    <span class="text-slate-400">{{ conv.messages[-1].content | truncate(25) }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <main class="p-4 m-2 rounded-3xl w-3/4 max-w-screen divide-y flex flex-col divide-slate-300 bg-slate-200">
        <section class="text-xl text-slate-600 font-semibold p-2">
            Group chat
        </section>
        {% block chat %}
        {% endblock %}
    </main>
{% endblock %}
