{% extends 'layouts/layout.html.jinja2' %}
{% set title = "Home Page" %}

{% block body %}
    <main>
        <div class="p-2">
            <p class="text-red-500">Salut c'est la home</p>
        </div>
    </main>
{% endblock %}
